form{
    position: relative;
}
.button{
    position: absolute;
    top: 13.5rem;
    right:0;
}
.button button{
    border-radius: 1rem;
    border: none;
    padding: 0.7rem;
    background-color: #afaeae;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.4rem;    
    cursor: pointer;
}
